@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    h2 {
        color: #007E7A;
    }

    .img-responsive {
        max-width: 100%;
        height: auto;
        display: block;
        text-align: center;
    }
</style>

<div class="jumbotron">
    <h1>Helper Dinâmico</h1>
    <p class="lead">Um sistema projetado para uso no transporte de cargas ferroviárias em trechos que possuem aclives acentuados.</p>
    <div class="row">
        <div class="col-md-6">
            <h2>Downloads de Logs</h2>
            <p>Baixe logs do Helper Dinâmico retirados remotamente...</p>
            <p>
                @Html.ActionLink("Downloads de Logs", "Index", "LogHelperDinamico", new { }, new { @class = "btn btn-primary center-block" })
            </p>
        </div>
        <div class="col-md-6">
            <h2>Eventos do Helper Dinâmico</h2>
            <p>Visualize o histórico de eventos ocorridos pelo Helper Dinâmico...</p>
            <p>
                @Html.ActionLink("Eventos do Helper Dinâmico", "Index", "EventoHelperDinamico", new { }, new { @class = "btn btn-primary center-block" })
            </p>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <div class="img-responsive">
                    <img src="~/img/VSHelperDinamico.png" class="img-responsive" alt="Los Angeles">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Utilize o ValerianoSystem Helper Dinâmico</h2>
                        <p>Agilidade e Praticidade</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="img-responsive">
                    <div id="graficoporloco"></div>
                </div>
            </div>

            <div class="item">
                <div class="img-responsive">
                    <div id="grafico"></div>
                </div>
            </div>

        </div>

        <!-- Left and right controls-->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

@section Scripts{
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/geraGrafico.js"></script>
}